@font-face
  font-family: 'sell-icon'
  src:  url('../fonts/sell-icon.eot?fdnwp5')
  src:  url('../fonts/sell-icon.eot?fdnwp5#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?fdnwp5') format('truetype'),
    url('../fonts/sell-icon.woff?fdnwp5') format('woff'),
    url('../fonts/sell-icon.svg?fdnwp5#sell-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-close:before
  content: "\e90e"

.icon-remove:before
  content: "\e901"

.icon-add:before
  content: "\e902"

.icon-back:before
  content: "\e903"

.icon-bad:before
  content: "\e904"

.icon-bulk-purchase:before
  content: "\e905"

.icon-cart:before
  content: "\e906"

.icon-favorite:before
  content: "\e907"

.icon-good:before
  content: "\e908"

.icon-more:before
  content: "\e909"

.icon-search:before
  content: "\e90a"

.icon-selected:before
  content: "\e90b"

.icon-unfavorite:before
  content: "\e90c"

.icon-unfold:before
  content: "\e90d"

.icon-fold:before
  content: "\e900"